@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700&subset=latin-ext');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #262626;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
}

.container {
  position: absolute;
  top: 47vh;
  left: 50vw;
  transform: translate(-50%, -25vh);
  z-index: 50;
}

#logo-ul {
  box-sizing: border-box;
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
  background-color: hsl(51, 100%, 50%);
  border-radius: 50%;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.05);
}

#logo {
  position: relative;
  left: 50%;
  top: 50%;
  margin: auto;
  width: 101%;
  height: 101%;
  transform: translate(-50%, -50%);
}

h1 {
  margin-bottom: .5rem;
  letter-spacing: .1rem;
}

h2 {
  margin: 0 0 2rem 0;
  font-weight: 100;
  letter-spacing: .1rem;
}

ul {
  z-index: 100;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0;
}

ul li{
  list-style: none;
  padding: .8rem 0;
  width: 100%;
}

@media (min-width: 768px) {
  ul {
    flex-direction: row;
  }

  ul li {
    padding: .8rem 3vw;
  }
}

ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  position: relative;
  padding: .5rem;
  transition: .2s;
}

ul li a:hover {
  color:#fff!important;
}

ul li a span:first-child:before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 8px;
  height: 8px;
  background: transparent;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transition: .2s;
  opacity: 0;
}

ul li a span:first-child:after {
  content: '';
  position: absolute;
  top:0;
  right:-8px;
  width: 8px;
  height: 8px;
  background: transparent;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: .2s;
  opacity: 0;
}

ul li a span:last-child:before {
  content: '';
  position: absolute;
  bottom:0;
  left:0;
  width: 8px;
  height: 8px;
  background: transparent;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transition: .2s;
  opacity: 0;
}

ul li a span:last-child:after {
  content: '';
  position: absolute;
  bottom:0;
  right:-8px;
  width: 8px;
  height: 8px;
  background: transparent;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: .2s;
  opacity: 0;
}

ul li a:hover span:first-child:before {
  top: -10px;
  left: -10px;
  opacity: 1;
}

ul li a:hover span:first-child:after {
  top: -10px;
  right: -18px;
  opacity: 1;
}

ul li a:hover span:last-child:before {
  bottom: -10px;
  left: -10px;
  opacity: 1;
}

ul li a:hover span:last-child:after {
  bottom: -10px;
  right: -18px;
  opacity: 1;
}