body,
html {
    height: 100%;
    margin: 0;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
/*    opacity: 0.65;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#scroll {
    display: block;
    margin: auto;
    -webkit-animation-name: scrollanim;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /*Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    animation-name: scrollanim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes scrollanim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.38;
    }
    100% {
        opacity: 1;
    }
}

/* Standard syntax */

@keyframes scrollanim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.38;
    }
    100% {
        opacity: 1;
    }
}

.txt-block {
    color: rgba(255, 255, 255, 0.9);
    padding: 50px 0px;
    text-align: center;
    text-align: justify;

    background: -moz-linear-gradient(0% 50% 0deg, rgba(137, 4, 83, 1) 0%, rgba(127, 6, 85, 1) 2.38%, rgba(95, 11, 89, 1) 10.89%, rgba(70, 15, 93, 1) 19.72%, rgba(52, 18, 96, 1) 28.91%, rgba(41, 19, 97, 1) 38.68%, rgba(38, 20, 98, 1) 50%, rgba(36, 24, 99, 1) 61.42%, rgba(29, 37, 104, 1) 73.63%, rgba(17, 59, 111, 1) 86.2%, rgba(1, 88, 121, 1) 98.95%, rgba(0, 91, 122, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(137, 4, 83, 1) 0%, rgba(127, 6, 85, 1) 2.38%, rgba(95, 11, 89, 1) 10.89%, rgba(70, 15, 93, 1) 19.72%, rgba(52, 18, 96, 1) 28.91%, rgba(41, 19, 97, 1) 38.68%, rgba(38, 20, 98, 1) 50%, rgba(36, 24, 99, 1) 61.42%, rgba(29, 37, 104, 1) 73.63%, rgba(17, 59, 111, 1) 86.2%, rgba(1, 88, 121, 1) 98.95%, rgba(0, 91, 122, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(137, 4, 83, 1)), color-stop(0.0238, rgba(127, 6, 85, 1)), color-stop(0.1089, rgba(95, 11, 89, 1)), color-stop(0.1972, rgba(70, 15, 93, 1)), color-stop(0.2891, rgba(52, 18, 96, 1)), color-stop(0.3868, rgba(41, 19, 97, 1)), color-stop(0.5, rgba(38, 20, 98, 1)), color-stop(0.6142, rgba(36, 24, 99, 1)), color-stop(0.7363, rgba(29, 37, 104, 1)), color-stop(0.862, rgba(17, 59, 111, 1)), color-stop(0.9895, rgba(1, 88, 121, 1)), color-stop(1, rgba(0, 91, 122, 1)));
    background: -o-linear-gradient(0deg, rgba(137, 4, 83, 1) 0%, rgba(127, 6, 85, 1) 2.38%, rgba(95, 11, 89, 1) 10.89%, rgba(70, 15, 93, 1) 19.72%, rgba(52, 18, 96, 1) 28.91%, rgba(41, 19, 97, 1) 38.68%, rgba(38, 20, 98, 1) 50%, rgba(36, 24, 99, 1) 61.42%, rgba(29, 37, 104, 1) 73.63%, rgba(17, 59, 111, 1) 86.2%, rgba(1, 88, 121, 1) 98.95%, rgba(0, 91, 122, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(137, 4, 83, 1) 0%, rgba(127, 6, 85, 1) 2.38%, rgba(95, 11, 89, 1) 10.89%, rgba(70, 15, 93, 1) 19.72%, rgba(52, 18, 96, 1) 28.91%, rgba(41, 19, 97, 1) 38.68%, rgba(38, 20, 98, 1) 50%, rgba(36, 24, 99, 1) 61.42%, rgba(29, 37, 104, 1) 73.63%, rgba(17, 59, 111, 1) 86.2%, rgba(1, 88, 121, 1) 98.95%, rgba(0, 91, 122, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#890453', endColorstr='#005B7A' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(137, 4, 83, 1) 0%, rgba(127, 6, 85, 1) 2.38%, rgba(95, 11, 89, 1) 10.89%, rgba(70, 15, 93, 1) 19.72%, rgba(52, 18, 96, 1) 28.91%, rgba(41, 19, 97, 1) 38.68%, rgba(38, 20, 98, 1) 50%, rgba(36, 24, 99, 1) 61.42%, rgba(29, 37, 104, 1) 73.63%, rgba(17, 59, 111, 1) 86.2%, rgba(1, 88, 121, 1) 98.95%, rgba(0, 91, 122, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#890453', endColorstr='#005B7A', GradientType=1);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
}

.caption-btns {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
}

#intro {
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    #intro {
        font-size: 1.8rem;
    }

    .caption {
        top: 45%;
    }
}

@media (min-width: 768px) {
    #intro {
        font-size: 2.1rem;
    }
}

@media (min-width: 992px) {
    #intro {
        font-size: 2.4rem;
    }
}

@media (min-width: 1200px) {
    #intro {
        font-size: 2.7rem;
    }
}

.border {
    cursor: default;
    color: #fff;
    background-color: transparent!important;
    font-size: 25px;
    line-height: 4.4rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 0 12px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

.btn,
.btn-primary,
.btn-lg {
    margin: 0.5rem;
    border-radius: 0;
    border: none;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75), 0 0 12px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
    
    background: -moz-linear-gradient(0% 50% 0deg, rgba(137, 4, 83, 1) 0%, rgba(127, 6, 85, 1) 2.38%, rgba(95, 11, 89, 1) 10.89%, rgba(70, 15, 93, 1) 19.72%, rgba(52, 18, 96, 1) 28.91%, rgba(41, 19, 97, 1) 38.68%, rgba(38, 20, 98, 1) 50%, rgba(36, 24, 99, 1) 61.42%, rgba(29, 37, 104, 1) 73.63%, rgba(17, 59, 111, 1) 86.2%, rgba(1, 88, 121, 1) 98.95%, rgba(0, 91, 122, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(137, 4, 83, 1) 0%, rgba(127, 6, 85, 1) 2.38%, rgba(95, 11, 89, 1) 10.89%, rgba(70, 15, 93, 1) 19.72%, rgba(52, 18, 96, 1) 28.91%, rgba(41, 19, 97, 1) 38.68%, rgba(38, 20, 98, 1) 50%, rgba(36, 24, 99, 1) 61.42%, rgba(29, 37, 104, 1) 73.63%, rgba(17, 59, 111, 1) 86.2%, rgba(1, 88, 121, 1) 98.95%, rgba(0, 91, 122, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(137, 4, 83, 1)), color-stop(0.0238, rgba(127, 6, 85, 1)), color-stop(0.1089, rgba(95, 11, 89, 1)), color-stop(0.1972, rgba(70, 15, 93, 1)), color-stop(0.2891, rgba(52, 18, 96, 1)), color-stop(0.3868, rgba(41, 19, 97, 1)), color-stop(0.5, rgba(38, 20, 98, 1)), color-stop(0.6142, rgba(36, 24, 99, 1)), color-stop(0.7363, rgba(29, 37, 104, 1)), color-stop(0.862, rgba(17, 59, 111, 1)), color-stop(0.9895, rgba(1, 88, 121, 1)), color-stop(1, rgba(0, 91, 122, 1)));
    background: -o-linear-gradient(0deg, rgba(137, 4, 83, 1) 0%, rgba(127, 6, 85, 1) 2.38%, rgba(95, 11, 89, 1) 10.89%, rgba(70, 15, 93, 1) 19.72%, rgba(52, 18, 96, 1) 28.91%, rgba(41, 19, 97, 1) 38.68%, rgba(38, 20, 98, 1) 50%, rgba(36, 24, 99, 1) 61.42%, rgba(29, 37, 104, 1) 73.63%, rgba(17, 59, 111, 1) 86.2%, rgba(1, 88, 121, 1) 98.95%, rgba(0, 91, 122, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(137, 4, 83, 1) 0%, rgba(127, 6, 85, 1) 2.38%, rgba(95, 11, 89, 1) 10.89%, rgba(70, 15, 93, 1) 19.72%, rgba(52, 18, 96, 1) 28.91%, rgba(41, 19, 97, 1) 38.68%, rgba(38, 20, 98, 1) 50%, rgba(36, 24, 99, 1) 61.42%, rgba(29, 37, 104, 1) 73.63%, rgba(17, 59, 111, 1) 86.2%, rgba(1, 88, 121, 1) 98.95%, rgba(0, 91, 122, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#890453', endColorstr='#005B7A' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(137, 4, 83, 1) 0%, rgba(127, 6, 85, 1) 2.38%, rgba(95, 11, 89, 1) 10.89%, rgba(70, 15, 93, 1) 19.72%, rgba(52, 18, 96, 1) 28.91%, rgba(41, 19, 97, 1) 38.68%, rgba(38, 20, 98, 1) 50%, rgba(36, 24, 99, 1) 61.42%, rgba(29, 37, 104, 1) 73.63%, rgba(17, 59, 111, 1) 86.2%, rgba(1, 88, 121, 1) 98.95%, rgba(0, 91, 122, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#890453', endColorstr='#005B7A', GradientType=1);
}

.btn:hover,
.btn-primary:hover,
.btn-lg:hover {
    border: none;
    color: #fff!important;
    background: -moz-linear-gradient(0% 50% 0deg, rgba(224, 7, 136, 1) 0%, rgba(135, 36, 132, 1) 33%, rgba(25, 94, 159, 1) 68.15%, rgba(0, 145, 194, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(224, 7, 136, 1) 0%, rgba(135, 36, 132, 1) 33%, rgba(25, 94, 159, 1) 68.15%, rgba(0, 145, 194, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(224, 7, 136, 1)), color-stop(0.33, rgba(135, 36, 132, 1)), color-stop(0.6815, rgba(25, 94, 159, 1)), color-stop(1, rgba(0, 145, 194, 1)));
    background: -o-linear-gradient(0deg, rgba(224, 7, 136, 1) 0%, rgba(135, 36, 132, 1) 33%, rgba(25, 94, 159, 1) 68.15%, rgba(0, 145, 194, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(224, 7, 136, 1) 0%, rgba(135, 36, 132, 1) 33%, rgba(25, 94, 159, 1) 68.15%, rgba(0, 145, 194, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E00788', endColorstr='#0091C2' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(224, 7, 136, 1) 0%, rgba(135, 36, 132, 1) 33%, rgba(25, 94, 159, 1) 68.15%, rgba(0, 145, 194, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E00788', endColorstr='#0091C2', GradientType=1);
}

.btn:focus, .btn:active:focus, .btn:active, .btn.active:focus, .btn-primary:active, .btn-primary.active {
    border: 1px solid rgba(207, 6, 123, 0.25);
    outline: none;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}
