html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(38, 0, 48);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #061F31, #2F062C);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #061F31, #2F062C);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #061F31, #2F062C);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #061F31, #2F062C);
    /* Standard syntax */
    color: rgba(255, 255, 255, 0.5);
}

.hatter {
    background-image: url("../img/boxbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
